<h1>All Cats</h1>
<ul>
  <% @cats.each do |cat| %>
    <li><%= link_to cat.name, cat_url(cat) %></li>
  <% end %>
</ul>

<%= link_to "Create a New Cat", new_cat_url %><br>
<%= link_to "Request a Cat", new_cat_rental_request_url %><br>